<h1>About this</h1>
<p>
  This project is part of <a href="http://www.facebook.com/strangler1985" title="Jelle Mattez">my</a> education towards Ruby on Rails. You can find me on <a href="http://www.facebook.com/strangler1985" title="Facebook: Jelle Mattez">Facebook</a> or <a href="http://twitter.com/#!/Strangler1985">Twitter</a>.
</p>

